<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chiste.novel.mapper.novel.NovelMapper" >
  <resultMap id="BaseResultMap" type="com.chiste.novel.domain.novel.Novel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="BIT" />
    <result column="is_delete" property="delete" jdbcType="BIT" />
    <result column="type" property="type" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, title, introduction, auditor, create_time, create_user, update_time, update_user, 
    source, is_delete, type
  </sql>

  <insert id="insertNovel" parameterType="com.chiste.novel.domain.novel.vo.NovelAddVo" useGeneratedKeys="true" keyProperty="id">
    insert into t_novel(
    <if test="id!=null">id,</if>
    <if test="title!=null and title!=''">title,</if>
    <if test="introduction!=null and introduction!=''">introduction,</if>
    <if test="auditor!=null and auditor!=''">auditor,</if>
    <if test="createTime!=null">create_time,</if>
    <if test="createUser!=null and createUser!=''">create_user,</if>
    <if test="updateTime!=null">update_time,</if>
    <if test="updateUser!=null and updateUser!=''">update_user,</if>
    <if test="source!=null and source!=''">`source`,</if>
    <if test="isDelete!=null and isDelete!=''">is_delete,</if>
    <if test="type!=null and type!=''">type,</if>
    )values(
    <if test="id!=null">#{id},</if>
    <if test="title!=null and title!=''">#{title},</if>
    <if test="introduction!=null and introduction!=''">#{introduction},</if>
    <if test="auditor!=null and auditor!=''">#{auditor},</if>
    <if test="createTime!=null">#{createTime},</if>
    <if test="createUser!=null and createUser!=''">#{createUser},</if>
    <if test="updateTime!=null">#{updateTime},</if>
    <if test="updateUser!=null and updateUser!=''">#{updateUser},</if>
    <if test="source!=null and source!=''">#{source},</if>
    <if test="isDelete!=null and isDelete!=''">#{isDelete},</if>
    <if test="type!=null and type!=''">#{type},</if>
    )

  </insert>
</mapper>