<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chiste.novel.mapper.novel.NovelContentMapper" >
  <resultMap id="BaseResultMap" type="com.chiste.novel.domain.novel.NovelContent" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="chapter" property="chapter" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="novel_id" property="novelId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, chapter, content, novel_id
  </sql>

  <insert id="insertContent" parameterType="com.chiste.novel.domain.novel.NovelContent" keyProperty="id" useGeneratedKeys="true">
    insert into t_novel_content
    (
    <if test="id != null ">id,</if>
    <if test="chapter != null and chapter != ''">chapter,</if>
    <if test="content != null and content != ''">content,</if>
    <if test="novelId != null and novelId != ''">novel_id</if>
    )values(
    <if test="id != null ">#{id},</if>
    <if test="chapter != null and chapter != ''">#{chapter},</if>
    <if test="content != null and content != ''">#{content},</if>
    <if test="novelId != null and novelId != ''">#{novel_id}</if>
    )
  </insert>
</mapper>